<section class="breadcrumbs">
  <div class="breadcrumbs-container">
    <a href="/">Home</a> &gt;
    <a href="{{ collection.url }}">Shop</a> &gt;
    <span>{{ product.title }}</span>
  </div>
</section>
