<section class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h4>About Us</h4>
      <p>{{ 'Learn more about our story, values, and products.' }}</p>
      <a href="/pages/about-us" class="cta-button">Read More</a>
    </div>

    <div class="footer-center">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/collections/all">Shop All Products</a></li>
        <li><a href="/pages/contact-us">Contact Us</a></li>
        <li><a href="/blogs/news">Our Blog</a></li>
        <li><a href="/pages/terms-and-conditions">Terms & Conditions</a></li>
      </ul>
    </div>

    <div class="footer-right">
      <h4>Follow Us</h4>
      <ul class="social-media">
        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ 'now' | date: '%Y' }} Your Store Name. All Rights Reserved.</p>
  </div>
</section>
