{% extends 'theme.liquid' %}

{% block content %}
  <!-- Page Content Section -->
  <div class="page-content-container">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="page-body">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
